* {
  font-family: Futura;
  box-sizing: border-box;
  margin: 0;
}

.container {
  width: 100%;
}

header {
  background-color: #f86833;
  text-align: center;
  height: 100px;
  margin-bottom: 100px;
}

.logo {
  padding-top: 20px;
}

.card {
  width: 90%;
  margin: 30px auto;
  background-color: #31bebe;
  min-height: 200px;
  /* padding: 10px; */
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 15px 5px;
}

.card-content {
  padding: 30px;
}

.company-card {
  width: 90%;
  margin: 20px auto;
  background-color: #d8d4d4;
  padding: 10px;
  padding-bottom: 20px;
}

.company-field {
  padding-left: 35px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  text-align: left;
  margin-top: 5px;
}

.fa-icon {
  margin-top: 10px;
  float: right;
  margin-right: 30px;
  cursor: pointer;
}

textarea {
  border: none;
  resize: vertical;
}

.btn {
  font-size: 15px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  /* display: block; */
  background-color: #1de27f;
}

.btn-primary {
  background-color: #6090ea;
  /* width: 100%; */
}

.btn-danger {
  background-color: #ee3860;
}

.add-company {
  background-color: #f86833;
  /* float: right; */
  width: 90%;
}

.btn-resume {
  width: 90%;
}

form {
  width: 90%;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 10px;
}